/*建立全域變數*/
:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);
}
body {
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px;
	margin: 0;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 0.9375rem;
	line-height: 1.5;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	background-color: var(--very-light-gray);
}
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	display: block;
	width: 100%;
}
@media (min-width: 1024px) {
	a.btn, button.btn {
		-o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
		-webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
		transition: color 0.3s, background-color 0.3s, border-color 0.3s;
	}
}

.attribution {
	padding: 10px 5px 0;
	color: var(--very-dark-cyan);
	font-size: 0.75rem;
	text-align: center;
}
.attribution > span {
	display: inline-block;
}
.attribution a {
	color: var(--dark-cyan);
}
.attribution a:hover {
	color: var(--very-dark-cyan);
}

.columns {
	max-width: 500px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}
.column {
	padding: 12%;
	color: #fff;
}
.column img {
	width: auto;
	height: 2.25rem;
}
.column .column-title {
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
	color: var(--very-light-gray);
	font-family: 'Big Shoulders Display';
	font-size: 2.5rem;
	line-height: 1.125;
	text-transform: uppercase;
}
.column p {
	margin-top: 0;
    margin-bottom: 1.75rem;
	color: var(--transparent-white);
	line-height: 1.75;
}
.column a.btn {
	display: table;
	padding: 10px 25px;
	text-decoration: none;
	border-radius: 50px;
	background-color: var(--very-light-gray);
	border: 2px solid var(--very-light-gray);
	cursor: pointer;
}
.column.column-sedans {
	background-color: var(--bright-orange);
}
.column.column-sedans a.btn {
	color: var(--bright-orange);
}
.column.column-suvs {
	background-color: var(--dark-cyan);
}
.column.column-suvs a.btn {
	color: var(--dark-cyan);
}
.column.column-luxury {
	background-color: var(--very-dark-cyan);
}
.column.column-luxury a.btn {
	color: var(--very-dark-cyan);
}
.column a.btn:hover {
	color: var(--very-light-gray);
	background-color: transparent;
}

@media screen and (min-width: 1024px) and (min-height: 570px), (max-width: 1023px) and (min-width: 768px) and (min-height: 580px) {
	html, body {
		min-height: 100%;
		height: 100%;
	}
}

@media screen and (min-width: 768px) {
	.columns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 921px;
	}
	.column p {
		margin-bottom: 5.25rem;
	}
}
